@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 16px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.wrapper {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(26, 14, 0, 1) 100%
  );
  overflow-x: hidden;
}
.container {
  width: 1400px;
  margin: 0 auto;
}
header {
  padding: 50px 0;
}
header .logo,
footer .blocks .logo {
  text-transform: uppercase;

  font-size: 29px;
  font-weight: 800;
}
header nav {
  float: right;
  width: 50%;
  z-index: 2;
  position: relative;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
header nav ul li {
  display: inline-block;
}
header nav ul li.active::after {
  content: '';
  display: block;
  width: 39px;
  height: 4px;
  background: #dc7000;
  border-radius: 20px;
  position: relative;
  top: 5px;
  left: -15px;
}

header nav ul li a {
  color: white;
}
header nav ul li:not(.active):not(.btn) a:hover {
  border-bottom: 5px solid #dc7000;
}

header nav ul li.btn a,
.email .block button {
  background: #fa9021;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 500ms ease;
}
header nav ul li.btn a:hover,
.email .block button:hover {
  background: #a02604;
}

.hero {
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}
.hero-info {
  width: 527px;
  padding-top: 70px;
  height: 512px;
}
.hero-info h2 {
  color: #e87d0e;
  font-size: 20px;
  font-weight: bold;
}
.hero-info h1 {
  font-size: 50px;
  font-weight: bold;
}
.hero-info p {
  font-weight: medium;
  line-height: 170%;
  margin: 30px 0;
}
.hero-info .btn,
.hero-about .info .btn {
  background: linear-gradient(
    90deg,
    rgba(250, 131, 5, 1) 0%,
    rgba(251, 158, 60, 1) 100%
  );
  color: white;
  border-radius: 40px;
  width: 195px;
  height: 53px;
  padding: 15px 30px;
  border: 0;
  transition: all 500ms ease;
}
.hero-info .btn:hover,
.hero-about .info .btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.hero img {
  position: absolute;
  top: -150px;
  right: 0;
}
/*секция с играми */
.trending {
  padding-top: 50px;
}
.trending h3 {
  font-weight: 600;
  font-size: 31px;
}
.trending .see-all,
.projects .see-all {
  color: white;
  border-radius: 10px;
  background: #25211d;
  float: right;
  display: block;
  padding: 12px 23px;
}

.trending .see-all:hover,
.projects .see-all:hover {
  transform: scale(1.1);
  transition: all 500ms ease;
}
.trending .games {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px 0;
}
.trending .games span {
  display: block;
  text-align: center;
  margin-top: 20px;
}
.trending .games span img {
  position: relative;
  top: 5px;
  margin-right: 7px;
}
.big-text {
  padding: 50px 0;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  width: 800px;
}
.banner {
  padding: 80px 0;
}
.banner h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}
.banner p {
  line-height: 170%;
  margin-bottom: 30px;
  width: 545px;
}
.banner img {
  width: 100%;
  margin-bottom: 30px;
}
/* секция с изображением */
.features {
  background: url('/source/img/bgblock1.png') no-repeat center center fixed;
  background-size: cover;
  padding: 80px 0;
}
.features h3,
.features p {
  margin-bottom: 20px;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.features h3 {
  font-size: 30px;
}
.features .info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.features .info .block {
  text-align: center;
  width: 20%;
  margin: 30px 2%;
}
.features .info .block img {
  margin-bottom: 15px;
}
.projects h3 {
  font-size: 30px;
  text-align: center;
}
.projects p {
  margin: 40px 0;
  text-align: center;
}
.projects .images {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}
.projects .see-all {
  float: none;
  width: 60px;
  text-align: center;
  margin: 0 auto;
}
/* нижняя часть */
.email {
  padding-bottom: 120px;
}
.email h3 {
  margin-top: 60px;
  font-size: 30px;
}
.email .block {
  background: #1c140f;
  margin-top: 30px;
  border-radius: 10px;
  padding: 40px 3%;
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.email .block h4 {
  font-size: 30px;
  font-weight: 500;
}
.email .block p {
  width: 500px;
}
.email .block input {
  background: white;
  outline: none;
  border: 0;
  border-radius: 8px;
  width: 225px;
  font-family: 'poppins', sans-serif;
  font-size: medium;
  font-weight: 400;
  padding: 11px 30px;
  position: relative;
  right: -115px;
  z-index: 1;
  padding-right: 130px;
}
.email .block input::placeholder {
  color: #696969;
}
.email .block button {
  cursor: pointer;
  border: 0;
  padding: 11px 17px;
  position: relative;
  z-index: 2;
  width: 105px;
  color: white;
  border-radius: 8px;
}
/* страница про нас */
.hero-about {
  position: relative;
}

.hero-about .info {
  width: 500px;
  padding: 250px 0;
}
.hero-about .info h1 {
  margin-bottom: 15px;
  font-size: 30px;
}
.hero-about .info .btn {
  margin-top: 20px;
}
.hero-about img {
  position: absolute;
  right: -50px;
  top: 0;
}
.work {
  padding: 80px;
}
.work h2 {
  font-size: 25px;
  margin-bottom: 40px;
}
.work .blocks {
  display: flex;
  justify-content: space-between;
}
.work .blocks .block {
  width: 25%;
  border-radius: 10px;
  padding: 50px 35px;
}
/* footer */
footer {
  background: #000;
  padding: 50px 0;
}
footer .blocks {
  display: flex;
  justify-content: space-between;
}
footer .blocks p {
  width: 300px;
  margin: 15px 0;
}
footer .blocks h4 {
  font-weight: 500;
  font-size: 17px;
}
footer .blocks ul {
  list-style: none;
}
footer .blocks ul li {
  margin-top: 7px;
  opacity: 0.8;
}
footer hr {
  margin: 30px 0;
  border: 0;
  height: 0.8px;
  background: #d2d2d2;
}
footer > p {
  text-align: center;
}
